body {
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    margin: 0;
    background-color: rgb(234, 229, 60);
}



.WE{
    position: absolute;
    top: 1px;
    left: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: xx-large;

}
.WATCH{
    color: red;
    font-style:italic ;
}
.stopwatch-container {
    text-align: center;
}

.display {
    font-size: 2em;
    margin-bottom: 10px;
    position: absolute;
    top: 9rem; left: 32rem;
    font-size: 60px;

}
.controls{
    
width: 700px;
height: 70px;
background-color: aquamarine;
position: absolute;
top: 14rem; left: 19rem;
font-size: 30px;

}
.controls button {
    margin: 5px;
    font-size: 1em;
    padding: 5px 10px;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 500;

}

.laps-list {
    list-style-type: none;
    position: absolute;
    top:5px;
    right: 10px;
}

.lap-item {
    margin: 5px;
}
.ll{
    position: absolute;
    top: 0.7rem;
    right: 10rem;
}
